
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.mainScreen{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto minmax(300px, 50%);

}
h1{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
}

.subTitle{
	
	font-family: Poppins;
	font-weight: 500;
	font-size: 24px;
	line-height: 40px;

	color: #142137;
}

.wavingMan{
	grid-column: 2/3;
	width: minmax(400px,45%);
}



.hand{
	transform-origin: bottom left;
	animation: waving 0.5s linear infinite ;
}


@keyframes waving {
	0% { transform: rotate(0deg); }
	50%	{ 
		transform: rotate(1deg); 
		/*transform: translate(-2px);*/
	}
	100% { transform: rotate(0deg); }
}

.head{
	transform-origin: bottom;
	animation: headMoving 0.5s linear infinite;
}

@keyframes headMoving{
	25%{
		transform: translate(1px);
	}
	75%{
		transform: translate(-1px);
	}
}

